[2013-01-20 20:50] nickelpro opened #1 "NBT parser needs _parse_string methods"
Everywhere we currently use _parse_buffer methods we should also have _parse_string methods to work with byte strings

[2013-01-20 21:16] nickelpro opened #2 "Client connect method should work"
Right now it just blocks and crashes

[2013-01-20 21:17] nickelpro opened #3 "Packet decoder needs to be merged"
Datautils and Packet have individual decoders, these should be merged

[2013-01-20 21:19] nickelpro opened #4 "Packet en/decoder needs to use extensions"
Packets with extensions need to have this extra data accounted for when decoding and decoding. The packet module should use the extensions module to account for this extra information

[2013-01-20 21:20] nickelpro opened #5 "Client login should handle unauthenticate login"
Client should be able to login to both authenticated and unauthenticated servers instead of just authenticated ones

[2013-02-03 04:33] #4 closed, assigned to nobody

[2013-02-03 04:33] #3 closed, assigned to nobody

[2013-02-03 04:33] #2 closed, assigned to nobody

[2013-02-04 05:20] #5 closed, assigned to nobody

[2013-02-04 05:21] nickelpro opened #6 "Event loop timers"
Event loop needs some sort of timer mechanisms to support position updates, should probably be tied to a position update flag

[2013-02-04 05:22] nickelpro opened #7 "0x33 and 0x38 packet handlers need to update World state"
First world state needs much better API

[2013-02-04 20:00] #7 closed, assigned to nobody

[2013-02-19 16:06] RGamberini opened #8 "Windows Support"
select.poll() is unsupported on windows

[2013-02-27 07:34] #6 closed, assigned to nobody

[2013-04-21 08:11] nickelpro opened #10 "Reconnect Plugin needs to be timer driven"
Sleeping the main event loop is a bad idea, we should use threaded timers instead

[2013-04-21 08:13] nickelpro opened #11 "Anti-AFK v2.0"
Anti-AFK is currently entirely chat based, it should be timer and movement based instead. That is, a timer should trigger the bot to spin in place (thus avoiding AFK while not consuming hunger)

[2013-04-21 08:16] nickelpro opened #12 "Smart protocol support"
Spock should support arbitrary protocol versions, and intelligently pick the correct protocol version when connecting to a server unless otherwise specified

[2013-04-21 08:17] nickelpro opened #13 "Riker Physics support"
Riker should be physics aware and automatically handle gravity and velocity

[2013-04-21 08:28] nickelpro opened #14 "Session keep-alive timer"
Spock needs to send keep-alives for its session once every 6000 ticks (~5m) to prevent session kicks after the client as already logged in

[2013-04-21 08:50] nickelpro opened #15 "Documentation and a Tutorial"
Exactly what it says on the tin, documentation and a setup tutorial would make Spock a much friendly platform for development.

[2013-04-21 08:57] nickelpro opened #16 "Python 3 support"
It would be nice to be Python 3 compatible, since Spock doesn't rely on any wildly incompatible behavior it should be mostly switching print statements around.

[2013-04-30 21:39] #10 closed, assigned to nickelpro

[2013-05-28 01:48] ghost opened #17 "Server queue data to Skynet"
Do /getqueuesize periodically and push to Skynet; would be useful for CivcraftPing.

[2013-06-13 13:36] #16 closed, assigned to nickelpro

[2013-09-20 17:14] PimpaMinecraft opened #18 "Do Proxies work?"
Do they work?

[2013-09-21 02:59] #18 closed, assigned to nobody

[2013-10-20 23:53] #8 closed, assigned to nickelpro

[2013-10-20 23:53] #17 closed, assigned to nobody

[2013-10-20 23:54] #14 closed, assigned to nickelpro

[2014-01-09 01:33] whilb opened #20 "Can't launch"
I can't manage to start the client, is there something I'm missing? I've installed all the required libraries, yet still it won't start cleanly.

[2014-01-09 01:38] #20 closed, assigned to nobody

[2014-04-09 23:08] Pigeoncraft opened #21 "How would I start multiple instances of an client without multiple python windows."
It seems that the script is blocking whenever there is a client open and wont let me initialize another client.

[2014-04-15 19:34] #21 closed, assigned to nobody

[2014-08-24 04:35] Corgano opened #25 "Windows support (Again?)"
I'm probably missing something here, but hear me out. I installed the dependencies as instructed, and got to the point where I should be able to run the demo, but I got this:

  File "C:\Python34\lib\site-packages\spock\plugins\core\net.py", line 55, in <module>
    rmask = select.POLLIN|select.POLLERR|select.POLLHUP
AttributeError: 'module' object has no attribute 'POLLIN'

I did a bit of googlin

[2014-08-25 05:38] #13 closed, assigned to nickelpro

[2014-08-25 05:39] #11 closed, assigned to nickelpro

[2014-08-25 05:39] #12 closed, assigned to nickelpro

[2015-01-04 18:02] nickelpro commented on #25
There is a definite chance Spock works on Windows now. I'm closing this until proven otherwise

[2015-01-04 18:02] #25 closed

[2015-01-04 22:45] nickelpro commented on #1
I am to comment on this once per year until Kaybass does it

[2015-01-08 16:35] nickelpro commented on #15
Got docs, and an almost working demo script. Only took 2 years

[2015-01-08 16:35] #15 closed

[2015-01-12 10:12] gamingrobot opened #29 "Fail to decode entity armor stand"
Failed packet ident is probably: PLAY<Entity Metadata

[2015-01-12 19:28] gamingrobot opened #30 "Fail decode Spawn Painting"
Failed packet ident is probably: PLAY<Spawn Painting

[2015-01-13 00:11] nickelpro commented on #30
Fixed in: b9972e2943a9071ea42e3a5836547efe6d24c8e5

[2015-01-13 00:11] #30 closed

[2015-01-13 00:16] nickelpro commented on #29
Relevant problem is in the Metadata format, we're definitely not handling type 7 (float x 3)
http://wiki.vg/Entities#Entity_Metadata_Format

But for an entity armor stand the more likely problem is an issue in the slot decoder. Needs more investigation, more than I can do right now with my HDD failing on me at least. Will look into this soon

[2015-01-13 00:53] nickelpro commented on #29
Fixed in 258fcc282c52b03a755e642abb095cf7da19e1ed

[2015-01-13 00:53] #29 closed

[2015-01-31 04:36] ScruffyRules opened #31 "Teams Packet something something error."
http://scruffyrules.com/i/6fmh7S.txt

[2015-01-31 19:45] nickelpro commented on #31
Two seperate issues here, one in the Teams packet decoding process, the other in NBT data decoder. Looking into both

[2015-01-31 19:51] nickelpro commented on #31
Teams packet should be fixed in d90a0f9ffd83fd304ea11d6040d01589740e85a0

[2015-01-31 20:12] nickelpro commented on #31
NBT data decoding/encoding maybe fixed in f8636dc89164529c4b3ef83b5aa78ea30987c7be
Please test

[2015-01-31 20:17] nickelpro commented on #31
Reported as fixed, closing

[2015-01-31 20:17] #31 closed

[2015-02-02 23:29] zezadas opened #32 "Chat plugin not reading correctly the messages"
When running chat plugin, I only had some output like "chat: myname"
I guess the bug comes from "if type(text) is str: "
I have fixed it on my code, but I only started to develop in python, today, so my approach may be not the best way to fix it.
BTW, great project!! ;)

[2015-02-03 03:19] nickelpro commented on #32
We have a chat plugin...?

@gamingrobot is this yours?

[2015-02-03 04:13] zezadas commented on #32
I'm refering to, https://github.com/nickelpro/spock/blob/master/contrib/plugins/ChatCommand.py

[2015-02-03 04:17] nickelpro commented on #32
contrib is just that, contributions and other miscellaneous stuff that is not maintained nor expected to work. Just toys and other stuff like the DebugPlugin. Closing

[2015-02-03 04:17] #32 closed

[2015-02-03 04:29] zezadas commented on #32
can I submit my workaround?! so other peoples have something functional?

[2015-02-03 05:31] nickelpro commented on #32
Ya pull requests are always welcome, its just not a bug I'm or anything I'm chasing down

[2015-02-04 23:59] zezadas opened #34 "timers start stop"
thats' not really a issue, but I have seen that you made your own implementation of the timers, and I see you cant start a timer with "self.timers.reg_event_timer" but I haven't found a simple solution to stop them, did I missed it? I have made a small patch, if you interested I can submit the pull request
https://github.com/zezadas/spock/commit/a59f048a0f0360782a529dbc78b8bed6215cb476

and then y

[2015-02-05 01:03] zezadas commented on #34
that was just a test, maybe we can create a structure that references a specific timer and the number on the list... I will think in a solution...

[2015-02-05 02:11] nickelpro commented on #34
You schedule a timer for the number of runs you want it to go for. The correct way to implement a conditional timer is as such

[code]

I won't close this or mark it invalid but I do think this is a non-issue. Thoughts?

[2015-02-05 02:15] zezadas commented on #34
yes, it was just a feature I thought it was interesting.

In that solution you gone have a lot of timers, since the father timer will only be destroyed when the son as terminated

[2015-02-05 02:19] nickelpro commented on #34
No, the first firing timer isn't a parent of the new event timer or anything like that. It will be cleaned out of the timer list when the next event tick rolls around. You would need (tens of?) thousands of timers for CPython to bat an eyelash at https://github.com/SpockBotMC/SpockBot/blob/master/spock/plugins/core/timer.py#L120-L127

Which isn't a use case that Spock realistically supports anyway

[2015-02-05 02:29] zezadas commented on #34
OK, thanks, I'm used to C, so this kind of things(recursions and concurrency) are not like I would code.

[2015-02-05 02:33] nickelpro commented on #34
I don't like the fact that I had to implement my own timers, but Python sorely lacks anything for this use case really. As it is these are good enough because they place nicely with asynchronous sockets, our custom event loop, and most other event loops out there. We're always open to suggestions and improvements, but as things stand I like the current timers idioms. Closing

[2015-02-05 02:33] #34 closed

[2015-02-06 20:34] zezadas opened #35 "no offline mode"
https://github.com/SpockBotMC/SpockBot/commit/47919485da01f55565932b6e985f380a3a2d4a88

I think this commit breaks offline demo

[2015-02-06 21:09] nickelpro commented on #35
`{'auth': {'authenticated': False}}`

[2015-02-06 22:52] zezadas commented on #35
I did that, and is not working
I have
start_settings = {
    'username': 'player_name',
    'authenticated': False,
}

the only way I got to run the demo was changing

default_settings = {
	'authenticated': True,  <-- This True to False
	'sess_quit': True,
}
in file spock/plugins/core/auth.py

[2015-02-07 00:08] nickelpro commented on #35
Settings parser doesn't work like that, I haven't documented it (yet?)

By passing a dict to the "start" parameter, you're telling **ONLY** the "stayrt" plugin that those are the settings you want it to use. Start plugin doesn't care about authentication, you can either pass `{'authenticated': False}` as an "auth" parameter or you can build a more general settings dict and pass that to the "settin

[2015-02-07 00:08] #35 closed

[2015-02-07 01:02] zezadas commented on #35
humm ok.
Now, I understand, thanks

[2015-02-08 01:04] nickelpro opened #38 "Gracefully Disconnect"
SpockBot should, if possible, gracefully disconnect when its killed rather than just dying. Not 100% sure how this works, see this PR: https://github.com/SpockBotMC/SpockBot/pull/37

[2015-02-08 01:06] Gjum commented on #38
For now, at least the socket could be closed. Maybe that will be enough to tell the server that spock disconnected.

[2015-02-08 01:17] nickelpro commented on #38
I already tried that, it works hit and miss. But I'll commit it anyway. Added in: 913d819dd4b65419fce03c33b82dea543f60b19b

[2015-02-08 01:29] Gjum commented on #38
On my end, it's working fine now, thanks.
Any reproducible cases where it misses?

[2015-02-08 01:33] nickelpro commented on #38
I actually think I fixed it, during my testing I was using `socket.SHUT_RDWR`, in this commit I used `socket.SHUT_WR` which still allows the socket to recieve data from the server even though we have no intention of reading it. That seems to be what the MC server wants to see.

I'm going to call this fixed until someone proves me wrong

[2015-02-08 01:33] #38 closed

[2015-02-08 01:34] Gjum commented on #38
Great. Now if spock could print some nice goodbye when it was killed... the other `handle_*()` in NetPlugin do that already.

[2015-02-08 01:44] nickelpro commented on #38
Ask and you shall recieve: 4386ab60aca862517dac1189779631c62b061c46

[2015-02-08 01:47] nickelpro commented on #1
Unfortunately Kaybass is no longer a part of the repo. Closing

[2015-02-08 01:47] #1 closed

[2015-02-08 13:37] divad opened #39 "KeyError in handle_player_list"
First: thank you for SpockBot - its awesome!

Second, on our server (freebuild.mineactivity.com) sometimes SpockBot crashes like so:

[code]

It might be because another player left because the only other event happening at that time was a player going offline:

[14:30:12 INFO]: ljhodge lost connection: Disconnected
[14:30:12 INFO]: ItHurtsWhenIP lost connection: Disconnected

(ItHurtsWhenIP is my

[2015-02-08 15:06] divad commented on #39
Right, the problem seems to be that PL_REMOVE_PLAYER is being sent twice every time somebody leaves, and sometimes an odd UUID shows up: 226283696723800921228506126194727547930 (which doesn't match a minecraft account..!).

On the second PL_REMOVE_PLAYER event it then breaks of course!

[2015-02-08 16:56] nickelpro commented on #39
Whoever at Mojang implemented the Player List mechanics needs a swift kick in the nuts. The hacky fix for this is to check if a uuid is present in the player list before removing it and that's what I'm going to do. I have no idea what correct behavior is for this poorly implemented POS.

[2015-02-08 17:15] nickelpro commented on #39
Fixed in 71e4f56af57ef47796e8d7f18de0bb9d9b19f578

[2015-02-08 17:15] #39 closed

[2015-02-08 17:18] Gjum commented on #39
The same thing happened to me with entities, so watch out for them getting updated/deleted before creation when you implement entity tracking.

[2015-02-08 17:21] nickelpro commented on #39
I already implemented entity tracking and _that_ at least seems to follow sane behavior as long as you're spawning all entities correctly: https://github.com/SpockBotMC/SpockBot/blob/master/spock/plugins/helpers/entities.py

You just have to remember that the client player is an entity to, and to track their entity id because from Join Game, because they don't get any other Spawn Entity event.

[2015-02-08 17:30] divad commented on #39
Many thanks @nickelpro :)

[2015-02-09 17:43] ThePixelPony opened #41 "SyntaxError: invalid syntax (mcdata.py)"
CentOS 6.5

CPU Model: Intel(R) Xeon(R) CPU E3-1230 V2 @ 3.30GHz

(None of the files were modified.)

[2015-02-09 18:10] nickelpro commented on #41
Python version? Spock only supports Python2.7+ and I have a feeling CentOS is on 2.6

[2015-02-09 18:13] nickelpro commented on #41
Ya, it's a dictionary comprehension issue, a feature that was introduced in 2.7: https://www.python.org/dev/peps/pep-0274/

I won't close until its confirmed but I'm 95% this is an unsupported Python version

[2015-02-09 18:15] ThePixelPony commented on #41
I see. I've just checked my Python version and it is 2.6.6. Sorry for bothering you in that case. I'll try to update my Python.

[GCC 4.4.7 20120313 (Red Hat 4.4.7-4)]

[2015-02-09 18:49] ThePixelPony commented on #41
Just tried this on a CentOS VPS with Python 2.7.7 and it worked beautifully. Thank you for all your work.

[2015-02-09 18:49] #41 closed

[2015-02-10 08:21] oey192 opened #43 "Crash when trying to place block on invalid y coord"
When attempting to place a block at a location with a y value that's too large, Spock crashes

e.g. l place 5 254345 29

Entering a y value ≥ 255 causes the crash, but absurdly large x and z values do not seem to break it

Traceback (most recent call last):
  File "run.py", line 19, in <module>
    client.start('obfuscated.url', 12345)
  File "/Library/Python/2.7/site-packages/spock/plugins/helper

[2015-02-10 10:29] nickelpro commented on #43
Problem in smpmap.py bounds checking, will fix when I get out of class today

[2015-02-10 19:55] ThePixelPony opened #44 "Incorrect Player Positions - Coordinates, Yaw & Pitch"
I believe that there is an error with the logging of player positions. I haven't tested any other entities but it certainly looks like the case with players. I have tried to collect as much information as possible for you.

My logging code is shown below.

The printed results is shown below. At first, the first of these is printed every tick but then it switches to the second result.

Below is an

[2015-02-10 20:23] zezadas commented on #44
this will be fixed soon, I guess...

[2015-02-10 20:34] nickelpro commented on #44
Discussed in PR: https://github.com/SpockBotMC/SpockBot/pull/42

I have the fix for FP encoder/decoder written. I'll get it pushed in a couple hours when I get back to my computer

[2015-02-11 00:16] nickelpro commented on #43
This bug is kinda odd, but its fixed in: 86ecc4450201f307c96673a64705f95c144fdfa0

[2015-02-11 00:16] #43 closed

[2015-02-11 00:43] nickelpro commented on #44
Should be fixed in: 5a1bf57fb8978f1587c74548e4be9d238591a6c8

[2015-02-11 00:43] #44 closed

[2015-02-11 07:08] ThePixelPony commented on #44
I have just tested this and can confirm that it is working flawlessly! :+1:

[2015-02-19 21:07] ThePixelPony opened #48 "Vertical Vectors Not Applying Under Normal Conditions"
Vectors that instruct the player to move up, i.e. the jump method (and manually applied vectors) only "Activate" when the player isn't on the ground.

def onTick(self,,_):
self.physics.jump()
The code above executes every tick, for instance. When I break the block under the player, they do a little hop before falling down.

[2015-03-25 22:32] Gjum opened #57 "Use the data from minecraft-data"
Add [minecraft-data](https://github.com/PrismarineJS/minecraft-data/) as a submodule.
Can be used for [recipes](https://github.com/Gjum/SpockBot/blob/7185f6481d44bc48b7a427d84f99aa3cd774a959/spock/mcmap/recipes.py) right now, later for more stuff (e.g. generate [block/biome info](https://github.com/SpockBotMC/SpockBot/blob/master/spock/mcmap/mapdata.py#L140) or [item info](https://github.com/Prism

[2015-03-25 22:41] Gjum commented on #57
What about just adding a/some script/s that clone/s the minecraft-data repo, generates class definitions and converts some structs to Python source (`s/null/None/g`, `recipes = {...}`)?

[2015-03-26 07:32] rom1504 commented on #57
That still leave some data duplication but at least that way you can update to new minecraft-data versions by just updating the commit hash you use and running that script.

[2015-04-08 22:35] Gjum opened #59 "Reorganize spock.utils"
`spock.utils` is made up by lots of collected code from many independent use cases:
- plugin loading, event registration, settings
- object serialization
- buffer stuff
- vectors
- collision boxes

[Some stuff](../blob/master/spock/utils.py#L121-L125) is not even used anymore. Definitely needs to be cleaned up, probably by splitting into several `spock.utils.*` and/or moving classes/methods closer

[2015-04-08 23:57] nickelpro commented on #59
"lots of collected code from many independent use cases"

Isn't that the definition of a utility file? It's stuff that doesn't have a home elsewhere that lots of unrelated code uses. BoundBuffer is used _everywhere_ in otherwise completely unrelated modules, it doesn't make sense to tie toghether things like networking and chunk parsing over a single 40 line class. Same for the Info class, which p

[2015-06-30 18:03] LucidBlue opened #63 "inventory.py not Python 2.7.6 compatible"
`super().__init__()` cannot be called this way in Python 2.7. Calling the super class by name, e.g. `Slot.__init__` seems to do the trick, but this may not be a correct way to handle it.

[2015-06-30 19:16] Gjum commented on #63
When writing the inventory code, I did not try it for 2.7, sorry. The crafting module also has to be changed for 2.7 compatibility, when I get around to do that, I will also make the inventory code compatible.

I have seen a fix somewhere by using something like `super(ClassName, self).__init__()`, so you could use that until I (or someone else) start working on it again.

[2015-07-01 00:07] #59 closed

[2015-07-01 00:39] #63 closed

[2015-08-12 23:07] hlprimm opened #75 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xde in position 0: invalid continuation byte"
So I'm quite new to python and programming overall. I've managed to get example.py running. I tried it out in test.civcraft.co and it worked great. However, trying it out in the main civcraft server mc.civcraft.co causes this error. Let me know if there's anything else I can provide! BTW, I tried running python 3 on ```example.py``` with my login info in the blanks, but it kept throwing this error

[2015-08-13 00:27] hlprimm commented on #75
@cosmoharrigan thanks a bunch!!

here's the second error we're looking at

[code]

[2015-08-13 01:06] hlprimm commented on #75
As requested from echo.py

[code]

[2015-08-13 02:59] #75 closed

[2015-08-13 03:02] nickelpro commented on #75
This is a problem in metadata decoding, probably, armor stands are an old bug that got ignored because they're kinda rare.

Side note: SpockBot was originally built to drive a service called [SkyNet](https://www.reddit.com/r/Civcraft/comments/1827tu/if_youre_not_a_dev_you_dont_care_about_this/) on Civcraft, so this is a fun full circle

[2015-08-13 05:53] hlprimm commented on #75
@gamingrobot thanks a bunch! glad to hear! @nickelpro yeah, i'm doing a similar project to tie in game chat my nation's slack chat. super nifty project you guys going here!!

[2015-08-14 21:05] Gjum commented on #48
@ThePixelPony fyi, a more complete physics plugin is in the works right now.

[2015-08-14 21:37] ThePixelPony commented on #48
@Gjum, nice! I have quit Minecraft ages ago now but it's nice to see that this is continuing.

[2015-08-16 04:58] hlprimm opened #82 "Possible to qualify the event that activates a plugin?"
In particular I'm looking at the chat plugin here:

https://github.com/SpockBotMC/SpockBot-Extra/blob/master/plugins/Chat.py#L18

I'm trying to get a Slack <-> Minecraft relay going and it's almost done. I've gotten spockbot to send messages to my Slack channel. Now I just need to get the messages to send from Slack to spockbot.

My problem is my the chat plugin handles both listening for new mess

[2015-08-16 13:57] xhj1102 opened #83 "Depends not found in installing"
In my Ubuntu 14.04 LTS server, I accidentally encountered the error that shows depends libraries not found. It shows that the package 'openssl/aes.h', 'ffi.h', 'Python.h' not found, which leads to the following packages in Ubuntu apt-get: libssl-dev, libffi-dev, and python-dev. I am wondering that should we add them into installation script. Maybe I'll open a pull request.

[2015-08-16 15:20] gamingrobot opened #84 "Test Issue"

[2015-08-16 15:40] nickelpro commented on #83
Those are system depends, pip can't install them for you

[2015-08-16 16:19] xhj1102 commented on #83
Make a Shell script may help, as many other projects did so.

Envoyé de mon iPhone

[2015-08-16 16:26] #84 closed

[2015-08-16 17:04] txomon commented on #83
It is specified in the dependencies. I don't have such problems in archlinux.

The problem about Debian based distros is that they split software headers, libraries and docs, which makes difficult to have a proper working installation by default if you are not aware of this fact.

[2015-08-16 17:09] nickelpro commented on #83
+1 for arch linux bundling headers, maybe I'll just make arch a dependency

[2015-08-16 17:10] Gjum commented on #83
:+1: for making arch a dependency.

[2015-08-17 02:23] hlprimm commented on #82
@gamingrobot you are right, excuse my horrible code reading ability. very much a noob still!

I did however run the echo plugin to see what is causing the socket to hang up.

I get the following:

[code]

Any idea why it's doing this? Thanks :D

[2015-08-17 02:51] nickelpro commented on #82
You just sent a random packet before login has been finished. Server hangs up on you for rudely violating the handshaking process

[2015-08-17 03:21] hlprimm commented on #82
@nickelpro thanks a bunch. that was it. i changed my plugin's timer to 10s instead of .5 and that fixed the problem.

[2015-08-17 03:21] #82 closed

[2015-08-17 12:28] txomon commented on #82
@hlprimm hook on the event instead of putting a timer!! =) You might actually have a faster execution that way

[2015-08-17 16:10] hlprimm commented on #82
@txomon I didn't see nickel's edit about the PLAY_STATE event. I'll definitely put that in. Thanks for the suggestion!

[2015-08-18 10:18] #83 closed

[2015-08-21 21:11] Gjum commented on #57
https://github.com/rom1504/python-minecraft-data/issues/1

[2015-08-24 18:27] Gjum commented on #48
Related PR https://github.com/SpockBotMC/SpockBot/pull/88

[2015-09-02 01:14] Gjum opened #95 "Make inventory use string IDs instead of (item_id, meta)"
Probably easier to use because of the cleaner interface.

Requires `mcdata.blocks` and `mcdata.items` to provide the `string_id -> (item_id, meta)` mapping.

[2015-09-03 22:38] Gjum opened #100 "Update example_plugin.py"
still uses old plugin format (without PluginBase)

[2015-09-03 22:39] Gjum commented on #95
Doesn't quite work, as the string IDs do not specify any metadata/variation.

[2015-09-04 01:16] nickelpro commented on #48
This is long fixed, Physics is merged and much improved upon

[2015-09-04 01:16] #48 closed

[2015-09-04 01:17] #95 closed

[2015-09-04 01:18] nickelpro commented on #57
I'm waiting on a more suitable protocol schema, see https://github.com/PrismarineJS/minecraft-data/issues/27#issuecomment-137585918

[2015-09-05 19:36] nickelpro opened #101 "Failed plugin loading results in inconsistent behavior"
If a plugin fails to load multiple things can happen depending on how that plugin was loaded and what actions the plugin took before it crashed.

For example, if a plugin fails to load during normal activation but registered event handlers before it failed, the bot will crash if that event fires. If that same plugin was activated by a `PluginLoader.requires()`, the bot will crash upon trying to ac

[2015-09-07 13:30] Gjum commented on #57
`windows.json` and `recipes.json` are used now.

[2015-09-08 00:17] Gjum opened #107 "Add a "stack trace" to TaskFailed"
Currently, only the last `TaskFailed` instance and message are given to the `on_error` method of task parents. This makes it hard/impossible to find the source of an error.

`TaskFailed` should have access to
- [ ] all `TaskFailed` instances that were previously raised, and
- [ ] all tasks that have failed due to the `TaskFailed` error, i.e. after it was raised.

[2015-09-09 01:14] gamingrobot opened #108 "Sphinx documentation"

[2015-09-09 01:22] gamingrobot opened #109 "Fix session server timing so packets don't timeout on slow connections"

[2015-09-09 01:25] gamingrobot opened #110 ""Getting Started" Guide for devs"

[2015-09-09 01:26] gamingrobot opened #111 "Make demo super cool"
:+1:

[2015-09-09 05:46] gamingrobot opened #114 "Log what plugins we load"
On startup PluginLoader should print the plugins it loads

[2015-09-09 06:51] gamingrobot opened #115 "jump() in PhysicsCore causes crash"

[2015-09-09 07:36] #114 closed

[2015-09-09 08:47] gamingrobot opened #118 "Add an event for when the inventory is loaded"
That way we have an event to listen to to change slots and stuff

[2015-09-09 10:39] #100 closed

[2015-09-09 10:41] gamingrobot opened #120 "Create a general chat plugin for vanilla servers"
There should be a single, official plugin for this, included in `spock.plugins.helpers`.
For vanilla, everything in the message (actual message, type, sender name+UUID) should be processed and sent via the chat event. For other chat formats, still try to get as much useful information out of it as possible.

- [ ] send events on every received chat message
- [ ] always send raw data received (JSON

[2015-09-09 11:19] Gjum commented on #120
@gamingrobot Thanks. I noticed however that it does not work at all with non-vanilla chat messages.
Maybe the mineflayer guys know more about chat parsing.

[2015-09-09 11:23] nickelpro commented on #115
Fixed in dd600386eda8b560e4d346f254cca7155e22fde1

[2015-09-09 11:23] #115 closed

[2015-09-09 14:17] Gjum commented on #120
updated the description to include the things to do

[2015-09-09 14:18] Gjum commented on #57
There should be separate issues to track all the the single modules that need to be done.

[2015-09-09 14:21] gamingrobot opened #122 "Physics for special cases"
- [ ] knockback
- [ ] water
- [ ] lava
- [ ] soulsand
- [ ] webs
- [ ] ice
- [ ] slime blocks
- [ ] ladders/vines
- [ ] enchantment modifiers
- [ ] status modifiers (potions, beacons)
- [ ] vehicle movement

[2015-09-10 01:25] gamingrobot opened #123 "Convert blocks to minecraft-data"
We need to provide some way to overwrite or extend what blocks.json has for us, like bounding boxes.

[2015-09-10 01:26] gamingrobot opened #124 "Convert protocol to minecraft-data"
@nickelpro is waiting for protocol.json to become more stable before converting

[2015-09-10 01:27] gamingrobot opened #125 "Convert entities to use minecraft-data"

[2015-09-10 01:28] gamingrobot opened #126 "Convert items to minecraft-data"

[2015-09-10 01:29] #57 closed

[2015-09-10 01:31] gamingrobot opened #127 "Increase Coverage"
Gotta put those coveralls on

[2015-09-10 02:11] gamingrobot opened #128 "Pathfinding"

[2015-09-10 02:11] nickelpro commented on #128
Assigning me this is very passive aggressive of you

[2015-09-10 08:36] gamingrobot opened #131 "Switch to Google Python Docstrings"
I am not a huge fan of sphinx docstrings and readthedocs supports Google Python style docstrings

Example [here](https://sphinxcontrib-napoleon.readthedocs.org/en/latest/example_google.html#example-google)

Sphinx Extension for converting docstrings https://sphinxcontrib-napoleon.readthedocs.org

Thoughts?

[2015-09-10 12:42] Gjum commented on #131
Looks like something I've been wanting for a long time.

[2015-09-10 12:52] gamingrobot opened #132 "Connect to server value stored somewhere"
Where would the best place to place a bool to see if we are connected to the server and we are ready do stuff. It is in reference to #129 self.connected_to_server

[2015-09-10 12:54] Gjum commented on #132
It really depends on what stuff you want to do. For example, you can start moving around before your inventory is loaded.

[2015-09-10 13:01] Gjum commented on #132
Ideally we would have events for every "ready" state where it makes sense and is not trivial, e.g. all chunks loaded, you can move around, inventory loaded. Other stuff like socket connection, position received, health received  are already events.

[2015-09-10 13:04] gamingrobot opened #133 "Ready state events"
These are higher level events that are triggered when certain things are ready when the player connects or moves dimensions in some cases.

See #132 and also https://github.com/andrewrk/mineflayer/issues/328

- [x] Inventory loaded (see #118, `inventory_synced`)
- [ ] Chunks downloaded
- [ ] Ready to start moving

[2015-09-10 13:05] rom1504 commented on #132
Related https://github.com/andrewrk/mineflayer/issues/328 , I think having different ready events and then being able to wait for all of them if needed is probably the best way

[2015-09-10 13:05] #132 closed

[2015-09-10 15:34] txomon commented on #131
I would avoid such a verbose documentation, we are still in pre v1, things and APIs are changing still. High level documentation would be more appropriate IMO. I would leave functions for later =)

[2015-09-10 22:19] Gjum commented on #133
When the player opens a new inventory or changes worlds, should these events get called again? So, not only once after joining, but every time the client gets *back into* a "ready" state?

[2015-09-11 12:13] gamingrobot opened #134 "Create a standard naming scheme for events"
We currently have a loose one but some are  `w_stuff` and others are `cl_stuff` or `inv_stuff`, the prefix is semi arbitrary.

Would it be better to use the filename like `movement_`, or `physics_`, `world_`, `clientinfo_` as the prefix for the event?

[2015-09-11 13:21] Gjum commented on #133
For the inventory, it makes sense to start doing stuff on `inv_ready` or `inv_open_window`:
https://github.com/SpockBotMC/SpockBot/compare/master...Gjum:window-open-feedback
This change delays the `inv_open_window` to when all of the window's slots are received.

[2015-09-11 18:27] Gjum commented on #133
Maybe the `event_tick` should also wait for `PLAY_STATE` or `cl_login_success` before being emitted, because that causes stuff like #129.

[2015-09-12 01:57] Gjum commented on #114
Wouldn't it be cooler to have an event with the list of plugin names (or maybe even instances)?

[2015-09-15 00:01] nickelpro commented on #128
Progress update https://youtu.be/PlDGH4Z_xDY

[2015-09-15 00:02] nickelpro commented on #101
This was fixed awhile back 3ca2d3ca0e00500b1a4c57506b16250fa1a11119

[2015-09-15 00:02] #101 closed

[2015-09-17 04:02] #120 closed

[2015-09-18 16:03] gamingrobot opened #138 "Cut down on logging in the SpockBot library"
Cut down on how much we log in SpockBot and change any current info logs to debug logs.

[2015-09-18 18:31] gamingrobot opened #140 "Move chat functions from interact plugin to chat plugin"

[2015-09-18 19:28] #140 closed

[2015-09-19 00:32] nickelpro commented on #109
This has been a bug since Spock was a single file script. I will fix it one day

[2015-09-19 03:53] #118 closed

[2015-09-19 16:45] Gjum commented on #110
Maybe start with something similar to https://github.com/andrewrk/mineflayer/issues/182#issue-32326019

[2015-09-19 17:00] Gjum opened #147 "Create a task manager plugin"
A plugin for creating and managing multiple tasks using `task.RunTask`, as this is only a helper class and should not be exposed this way.

Should provide ways to prevent multiple tasks to interfere, for example two tasks at the same time moving into opposite directions or using the inventory by clicking slots or blocks.

See also:
- discussion on https://github.com/andrewrk/mineflayer/issues/275,

[2015-09-20 00:49] #134 closed

[2015-09-20 01:01] nickelpro opened #149 "Start Plugin should use event loop to gracefully handle session failures"
Start Plugin currently operates completely outside the event loop. When errors happen the event system doesn't get to handle them correctly and the kill event is never called.

This causes bugs for plugins that need to do cleanup after kill is called when the client session errors. The fix is for StartPlugin to immediately start the event loop and then use the event system to do what it needs to

[2015-09-20 13:57] Gjum commented on #138
Some modules ([movement](https://github.com/SpockBotMC/SpockBot/blob/bf7877a0b0bbc58c16902b347f86bb463396b5bd/spock/plugins/helpers/movement.py), [respawn](https://github.com/SpockBotMC/SpockBot/blob/bf7877a0b0bbc58c16902b347f86bb463396b5bd/spock/plugins/helpers/respawn.py), [mcpacket](https://github.com/SpockBotMC/SpockBot/blob/65460b7a27701bf0977688d8b88472fd2933ac11/spock/mcp/mcpacket.py)) set

[2015-09-20 21:09] #108 closed

[2015-09-22 23:33] Gjum opened #151 "Make running/waiting for multiple subtasks more flexible and convenient"
When a task wants to start several subtasks and wait until one or all of them are finished, a lot of boilerplate is needed.

TODO examples

[2015-09-23 19:20] #133 closed

[2015-09-23 19:22] Gjum commented on #147
This is not completely done:

[2015-09-23 19:56] Gjum commented on #133
updated the description with the preferred ways to hook into these events.

[2015-09-23 22:24] gamingrobot opened #154 "Plugin for plugin channels"
http://wiki.vg/Plugin_channel

[2015-09-28 12:56] Gjum opened #155 "Vehicle physics"
Create the API for moving around while in a Minecart, boat or horse etc.

[2015-09-28 13:05] rom1504 commented on #155
FYI https://github.com/andrewrk/mineflayer/blob/master/doc/api.md#botmovevehicleleftforward

[2015-09-28 13:10] Gjum commented on #155
We have that in the [interact plugin](https://github.com/SpockBotMC/SpockBot/blob/master/spock/plugins/helpers/interact.py#L205-L225), but maybe it should go into movement, and I'm also not sure if it works together with the physics plugin right now.

[2015-10-02 14:42] nickelpro commented on #149
Fixed

[2015-10-02 14:42] #149 closed

[2015-10-02 20:47] gamingrobot opened #159 "Re-evaluate what belongs in utils.py"
Move everything else to tools

[2015-10-03 03:17] gamingrobot opened #161 "Move the Info classes out of plugins.helpers.clientinfo and plugins.helpers.entities"
This is to avoid people importing the plugin to get these classes

Possible solutions are
* spockbot.plugins.tools.clientinfo and spockbot.plugins.tools.entities
* spockbot.plugins.tools.containers
* spockbot.containers.clientinfo and spockbot.containers.entities

[2015-10-03 04:19] #159 closed

[2015-10-03 04:56] #131 closed

[2015-10-03 22:47] #161 closed

[2015-10-03 22:51] gamingrobot opened #168 "Docstrings on classes that plugins provide"
Also doctrings in mcp and mcdata would be nice

[2015-10-03 23:16] #138 closed

[2015-10-05 02:51] nickelpro commented on #128
Feature merged, closing issue

[2015-10-05 02:51] #128 closed

[2015-10-05 08:18] #154 closed

[2015-10-06 04:34] gamingrobot opened #174 "Add ability for Auth to use accessToken"

[2015-10-06 10:18] rom1504 opened #177 "Convert biomes to minecraft-data"
I think [biomes.py](https://github.com/SpockBotMC/SpockBot/blob/master/spockbot/mcdata/biomes.py) should be fairly easy to convert (see the data there [biomes.json](https://github.com/PrismarineJS/minecraft-data/blob/1.8/enums/biomes.json) ) and doing that conversion will probably help to know how to convert [blocks.py](https://github.com/SpockBotMC/SpockBot/blob/master/spockbot/mcdata/blocks.py)

[2015-10-09 14:10] luken opened #179 "Provide mechanism to watch for a particular chat event with a callback when detected"

[2015-10-09 14:23] Gjum commented on #179
chat.py line 125 probably does what you want already.

[2015-10-09 15:56] #179 closed

[2015-10-09 15:58] Gjum commented on #177
will probably be a list or dict of namedtuples

[2015-10-11 01:35] #107 closed

[2015-10-11 02:02] #123 closed

[2015-10-11 02:02] #126 closed

[2015-10-11 02:02] #177 closed

[2015-10-11 03:16] rom1504 commented on #125
https://github.com/PrismarineJS/minecraft-data/issues/72

[2015-10-12 00:06] gamingrobot opened #188 "More examples"
To show off bits of spockbot
- [ ] creating one/multiple new plugins
- [ ] using events and timers
- [ ] getting data from clientinfo, world, entities
- [ ] using interact and chat
- [ ] simple movement, pathfinding
- [ ] sync and async inventory, crafting
- [ ] complex nested tasks
- [ ] using mcdata
- [ ] changing settings, adding settings to your own plugins

[2015-10-12 00:15] Gjum commented on #188
I put some ideas in as a checklist feel free to add to it.

[2015-10-12 23:36] #111 closed

[2015-10-13 00:22] Gjum commented on #168
also look if all docstrings are actually in the right place and rendered correctly (e.g. chat currently isnt)

[2015-10-31 07:19] ThePixelPony opened #196 "[question] Using a Proxy"
How could one create bots using remote proxies?

[2015-10-31 16:57] nickelpro commented on #196
This question needs some clarification. What exactly are you trying to do?

[2015-10-31 17:00] rom1504 commented on #196
I bet something like  https://github.com/PrismarineJS/node-minecraft-protocol/issues/185 , an http/socks proxy, not Minecraft one

[2015-10-31 18:44] nickelpro commented on #196
Socks is trivial to add but I don't really feel like adding it to mainline. If that's a usecase you need to support all you need to do is create a new socket for Spock to connect with for example using https://github.com/Anorov/PySocks .

Spock is explicitly friendly about swapping out core plugins for this reason. If you need a Minecraft proxy, they're a dime a dozen, just pick one. You can build

[2015-11-07 15:52] ThePixelPony commented on #196
Ah, I see. Thank you - problem is solved. Apologies for not replying - I haven't logged into Github for days.

[2015-11-07 15:52] #196 closed

[2015-11-16 22:12] Farthen opened #197 "Pathfinding seems to timeout"
Moving to a path with self.movement.move_to(x, y, z) doesn't do anything. A bit more fiddling lead me to pathfinding.pathfind which seems to return TIMEOUT_REACHED.

My code is basically equal to example_plugin. I don't really understand what is going on here. Any ideas?

[2015-11-16 22:16] nickelpro commented on #197
How far away are you pathing to?

[2015-11-16 22:20] #197 closed

[2015-11-21 00:55] TimJSwan89 opened #200 "setup.py fails on mac."
In El Capitan update, /usr/bin/ is no longer writable. However, setup.py insists on inferring that a file must be there, even though it can't place one there. Is there a way to get this working without installing anything into system folders? I'd rather just place any non-existing libraries needed into the local folders.

[code]

[2015-11-21 01:01] Gjum commented on #200
This is probably a problem with the `cryptography` package, not SpockBot itself. Try out http://stackoverflow.com/a/24961925 and whatever fixes it, we should put that in the README.

[2015-11-21 01:27] nickelpro commented on #200
There is no C code in SpockBot, so this is not our bug. Closing

[2015-11-21 01:32] TimJSwan89 commented on #200
I have cryptography installed...

[2015-11-21 01:35] nickelpro commented on #200
OSX uses a precompiled binary for cryptography too...

This still isn't our bug, but reopening until I we figure out who owns it. Full pip log?

[2015-11-21 01:37] TimJSwan89 commented on #200
host-14-218:SpockBot timothyswan$ pip3 install cryptography --upgrade
Requirement already up-to-date: cryptography in /Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages
Cleaning up...

[2015-11-21 01:37] nickelpro commented on #200
I meant for the install, what is pip trying to install when it chokes?

[2015-11-21 01:38] TimJSwan89 commented on #200
host-14-218:SpockBot timothyswan$ python3 setup.py install
running install
running bdist_egg
running egg_info
writing spockbot.egg-info/PKG-INFO
writing requirements to spockbot.egg-info/requires.txt
writing dependency_links to spockbot.egg-info/dependency_links.txt
writing top-level names to spockbot.egg-info/top_level.txt
reading manifest file 'spockbot.egg-info/SOURCES.txt'
reading manifest tem

[2015-11-21 01:51] nickelpro commented on #200
I have no idea what cffi is or why it needs to be installed but there's your bug

[2015-11-21 02:04] TimJSwan89 commented on #200
Under the mac osx section on this page:
https://cffi.readthedocs.org/en/latest/installation.html

I followed the instructions
[code]
and it didn't work, but I changed pip to pip3 so,
[code]
and it installed, then spockbot setup ran through!

[2015-11-21 02:20] nickelpro commented on #200
Fantastic, closing

[2015-11-21 02:20] #200 closed

[2015-11-21 03:06] TimJSwan89 opened #201 "example.py hangs"
The example bot stayed alive initially, then it must have changed the state of a file because it no longer works. It just hangs the REPL after logging in. I even replaced the example_plugin.py with a fresh new one and it did the same thing.
I tried pressing CTRL + C to exit, and it doesn't work. I have to close terminal.
[code]

[2015-11-21 12:08] Gjum commented on #201
Can you please paste the stacktrace after you press CTRL+C?

[2015-11-22 16:21] Gjum commented on #201
I could not reproduce this on a vanilla online-mode server, although the CPU usage is 100% when running the example, but not when running with different plugins.

[2015-12-16 02:54] nickelpro commented on #109
Fixed by a1242f4df72753a991df51e412ec2dd9942aa988

[2015-12-16 02:54] #109 closed

[2015-12-31 00:09] Gjum commented on #188
Should these go into extra or main?

[2015-12-31 00:58] nickelpro commented on #188
I kind think we need an "Introduction to SpockBot" repo that is both a collection of these examples and lots of docs walking through them

[2015-12-31 17:07] Gjum opened #205 "Make crafting more robust"
- [ ] speed up mass crafting with left+right clicking the grid slots
  - [ ] check if all items are in place before clicking the result slot
  - [ ] check that cursor is non-empty after getting result, otherwise we did not craft
  - [ ] should the task return anything? maybe the slots with the crafting results?

(*taken from TODOs in the code*)

[2015-12-31 17:42] Gjum commented on #188
IRC discussion concluded to put them in main.

[2016-01-01 00:05] nickelpro commented on #174
You're next auth tokens. Nickelpro is coming for you

[2016-01-04 16:23] DefinitlyEvil opened #207 "Error in smpmap.py"
[code]

[2016-01-04 16:27] Gjum commented on #207
@nickelpro sounds like it wasn't such a good idea to remove that line bf7002f89e349abcb70db871cc9deba51e054b37

[2016-01-04 16:33] DefinitlyEvil commented on #207
@Gjum Thx for rapid respond, so it can be fixed now?

[2016-01-04 16:34] DefinitlyEvil commented on #207
Btw it also says `list indicies must be integer` at line 50:
[code]

[2016-01-04 16:36] rom1504 commented on #207
@DefinitlyEvil if you want it to work right now, convert the position to int yourself before calling the get_block function

[2016-01-04 16:37] DefinitlyEvil commented on #207
@rom1504 I was playing around with example.py. xD And TONs of errors messed me up.

[2016-01-04 16:38] Gjum commented on #207
I'm not sure if we will "fix" that, because you are supposed to only supply integer (block) coordinates.

So instead of `get_block(floaty_pos)`, it should be `get_block(floaty_pos.floor())`.

The examples are quite outdated, see also #188.

[2016-01-04 16:40] DefinitlyEvil commented on #207
@Gjum Okay. ;P Thanks for making this awesome project and thanks for noticing me about that example script. xD

[2016-01-04 16:42] DefinitlyEvil commented on #207
@Gjum Btw I didn't call `get_block()` in example.py, it seems that some other script invoked it. xD

[2016-01-04 16:46] nickelpro commented on #207
I dislike having to do that conversion there. Rightfully if we do it there we should do it for all the `get` and `set` functions in smpmap.

Really I'd like to just track down everywhere we're passing floats to smpmap, fix them, and then just ban passing floats when you really should pass an integer

[2016-01-04 16:50] Gjum commented on #207
I agree. Although the error message can be a bit misleading.

[2016-01-04 16:52] nickelpro commented on #207
So we're agreed this is not an error in smpmap then. This is a problem with our horribly outdated examples. I'll put it on my "high priority" ToDo list along with vehicle Physics and auth tokens

[2016-01-04 16:59] DefinitlyEvil commented on #207
@nickelpro Thx so much. Muah!

[2016-01-05 12:52] DefinitlyEvil opened #208 "Error when opening custom item menu"
[code]

PS: Just produced a fix (PR #209)

[2016-01-05 13:03] Gjum commented on #208
Thanks for te PR. On what server did you see that inv type?

[2016-01-05 13:07] DefinitlyEvil commented on #208
A minecraft server network with a item menu to join sub-servers.

[2016-01-05 16:56] nickelpro commented on #155
Physics suspends itself when Spockbot is mounted on a Vehicle. I have no problem with this stuff staying in interact or movement. But if the vehicle movement is truly based on the client's yaw than we should have a way to translate between absolute (move positive x, negative z) and relative (forward, backwards) so plugins that want absolutle movement don't have to mess with yaw.

Example:
A bot co

[2016-01-05 17:20] Gjum commented on #155
:+1:

[2016-01-05 20:01] nickelpro commented on #208
This bug will be fixed when minecraft-data merges https://github.com/PrismarineJS/minecraft-data/pull/87

[2016-01-05 20:03] nickelpro commented on #208
Going to call this fixed unless there are further reports

[2016-01-05 20:03] #208 closed

[2016-01-06 02:14] DefinitlyEvil opened #210 "Error -5 while decompressing data"
When I try to join `ArkhamNetwork`, this happened:
[code]

[2016-01-06 02:26] nickelpro commented on #210
I have literally never seen this error, I'll check it out when I get home

[2016-01-06 03:11] DefinitlyEvil commented on #210
@nickelpro Maybe because I am using Windows. xD

[2016-01-06 12:31] AmeBel opened #211 "What does the ` en_US.lang not loaded` mean?"
I get the following error
[code]
when trying to connect to a server. What is it about?

[2016-01-06 12:34] Gjum commented on #211
It comes from [here](https://github.com/SpockBotMC/SpockBot/blob/master/spockbot/plugins/helpers/chat.py#L76-L92) and means you have not copied the `en_US.lang` to your working dir, which is used (if present) for chat message expansion. You probaly don't need it and can just ignore that warning.

[2016-01-06 12:35] Gjum commented on #211
@gamingrobot should we make that an `INFO`-level message?

[2016-01-06 14:58] AmeBel commented on #211
OK thanks

[2016-01-06 14:58] #211 closed

[2016-01-07 02:23] Gjum commented on #155
Two options when moving north when looking west:
1. look north, steer forward
2. keep looking west, steer sideways

1. is more precise for controlling boats
2. works nicely when the vehicle can be steered equally in every direction (horses)

It should also be noted that when a steering packet is sent and the yaw changes after that, the intended movement might not be achieved, because the server al

[2016-01-07 05:29] nickelpro commented on #210
I can't reproduce this unfortunately, which means it's hard for me to debug. The only thing that can really cause this problem is the packet stream desync but that should cause problems outside of just decompression failing

[2016-01-07 05:58] fredyvilla opened #212 "[ERROR]: AUTH: Session start error, calling kill"
It seems that the Auth module broke after commit: 5263efc5bc86a1d06e16cb0e57ca8cc8cac599c0

Steps to reproduce:

python examples/basic/example.py

The MC server.properties file was tested with online_mode=true and online_mode=false.

Spock is not establishing a connecting to the server at all. No entries in the mc log.

[2016-01-07 06:14] nickelpro commented on #212
Can't reproduce, you sure your credentials are correct?

[2016-01-07 09:01] DefinitlyEvil commented on #210
@nickelpro Will network lag cause this?

[2016-01-07 17:21] nickelpro commented on #210
No, you have a truncated stream which means we read an incorrect amount of bytes into a packet buffer, which means we read a packet header incorrectly, which means our packet stream desync'd somehow.

That's a long list of things that went wrong and there is a lot of code that is supposed to detect that happening and apparently didn't. No idea what could cause this.

[2016-01-08 02:04] Gjum commented on #155
@nickelpro is it ok with you if I put the vehicle controls into `Physics.move_*()` and `.jump()` etc.?

That makes sense for me, because when physics is suspended, movement happens by sending `Steer Vehicle` rather than `Player Position`.

It makes the plugin more complex though.

[2016-01-08 02:38] DefinitlyEvil commented on #210
@nickelpro xD Okay.

[2016-01-08 16:49] Gjum commented on #155
When riding a minecart, `look` and `steer` get sent every tick (even when they don't change), but `position` doesn't:
[code]
This means the Physics plugin should handle vehicle movement completely IMO

[2016-01-10 21:27] Gjum commented on #125
IDs and names done and released in [pymcdata](https://github.com/SpockBotMC/python-minecraft-data/commit/ae1b05d338bc9c88a73b096af6552e28a0a41274), waiting for entity data.

[2016-01-17 01:56] Gjum commented on #155
started in https://github.com/Gjum/SpockBot/compare/master...vehicle-physics

[2016-02-19 01:37] Gjum opened #216 "Logging"
Many current log messages look like `[PLUGINNAME] message` or `PLUGINNAME: message` and some plugins use yet another pattern. This makes it difficult to find out the message source (eg. for grouping messages after the sending plugin).

We should change the logging initialization of our plugins to `logger = logging.getLogger(__name__)`.
This would not change the current logging output, but make it

[2016-03-13 04:22] Gjum commented on #207
fixed in c09dbfaf85f936dce8ce99e6f99be057e51167b0

[2016-03-13 04:22] #207 closed

[2016-03-23 05:42] smilechaser opened #219 "Connecting to a 1.9 server disconnects without a helpful error message"

[2016-03-23 05:48] nickelpro commented on #219
If you print the disconnect reason you'll probably get something relevant. Do we not do that at debug logging? Maybe we should.

But ya 1.9 isn't supported, so expect all sorts of things to be wrong

[2016-03-23 05:50] nickelpro commented on #219
Fixed, closing

[2016-03-23 05:50] #219 closed

[2016-03-29 05:07] saucecode commented on #212
Did anyone figure this one out? I'm getting the same problem to a localhost server of version 1.8.8.

[2016-03-29 17:45] suBDavis commented on #207
This appears to still be an issue...

In offline mode, the bot crashes after joining the game on
`TypeError: list indices must be integers, not float`

Full stack trace:
[code]
I checked, and my code does have the fix applied in commit c09dbfa.

[2016-03-29 17:52] rom1504 commented on #207
@suBDavis you are flooring the position before passing it to get_block, right ?

[2016-03-29 18:23] suBDavis commented on #207
@rom1504 I'm using the example plugin, which is indeed performing the floor on line 100
`        block_pos = self.clientinfo.position.floor()`

[2016-03-29 19:13] nickelpro commented on #207
Apparently Physics is generating a floating point block positions which I don't understand

[2016-03-29 19:32] nickelpro commented on #212
You need to turn off online-mode if you just want local connections without authentication, which is unrelated to this issue anyaay

[2016-03-29 19:32] #212 closed

[2016-03-29 20:19] suBDavis commented on #207
Are you able to reproduce?

I was trying to document my entire configuration (python version, steps to install, etc) and I started over.  I'm now unable to reproduce that error.

[2016-03-29 20:58] nickelpro commented on #207
I just said that based on the stack trace. That sort of thing should be impossible with the current code base. Old version?

[2016-03-29 21:40] suBDavis commented on #207
Definitely not.  both came from a git clone https://github.com/SpockBotMC/SpockBot

However, I _could_ have had some outdated packages... or... something.  I originally installed SpockBot at the system level, and then tried to repro it in a virtual environment, which would have installed the dependencies fresh from pip.

[2016-03-29 22:20] nickelpro commented on #207
Dependencies don't enter into it. The offending `get_block` call is here:
https://github.com/SpockBotMC/SpockBot/blob/master/spockbot/plugins/tools/collision.py#L51

Which takes a block position from a generator that clearly floors its base position:
https://github.com/SpockBotMC/SpockBot/blob/master/spockbot/plugins/tools/collision.py#L15-L20

If this can't be reproduced I'm not sure how to fix

[2016-03-30 02:43] suBDavis opened #221 "BufferUnderflowException or"
Hello Folks.

I've been having a lot of fun trying to understand how this project works, and I've been able to hack apart enough of the code to get a "followbot" sporadically working on the cuberite server clone.

Unfortunately, I'm getting the following error with bot the example code and my follow bot plugin.
`[DEBUG]: Physics failed to generate an MTV, bailing out`
that message spams the consol

[2016-03-30 07:07] nickelpro commented on #221
No idea why Physics would be wigging out, but our example code is bad and has a history of making bad things. `[DEBUG]: Physics failed to generate an MTV, bailing out` means the bot thinks it's inside of something and can't figure out how to not collide with it.

The crash is caused by smpmap trying to read biome data out of an empty chunk packet that Cuberite is using to unload the chunk. I'm not

[2016-04-24 22:56] ElPresidentePro opened #222 "Update to 1.9?"

[2016-04-24 23:05] Gjum commented on #222
We plan on supporting 1.9, but right now nobody is actively working on it.

Some things that need work:
- [x] chunks #218
- [x] packet IDs (import from wiki.vg or minecraft-data, or even better, implement protodef)
- [x] entity metadata (completely changed)
- [ ] "minor changes" (offhand slot, different packets)

IRC log for reference:

[code]

[2016-04-24 23:13] ElPresidentePro commented on #222
interesting, It seems that you are very close to getting the first bot 1.9, The problem is the chunks.

[2016-04-24 23:54] ElPresidentePro commented on #222
@gamingrobot Fantastic notice!

[2016-04-25 11:21] Gjum commented on #222
Cool stuff. I'll take a look at that chunk issue this evening.

[2016-04-25 16:53] Gjum commented on #222
@gamingrobot it looks like the problem is that I wrote the decoder for protodef's chunk packet, but spock has an extra field for biome data. do we still want it to be its own field, separate from block data, or should all the chunk data be a single field?

[2016-04-25 23:35] ElPresidentePro commented on #222
For what is this error?
`[DEBUG]: NETCORE: Connected to host: 192.168.1.38 port: 25695
[INFO]: My position: PlayerPosition(0, 0, 0) pitch: 0.0 yaw: 0.0
[DEBUG]: EVENTCORE: Exception while emitting event_tick None
Traceback (most recent call last):
  File "C:\Users\osman\Desktop\spock\example.py", line 52, in <module>
    client.start(SERVER, 25695)
  File "C:\Users\osman\Desktop\spock\spockbot\plu

[2016-04-26 04:27] nickelpro commented on #222
@gamingrobot updated the protocol but all the plugins built on top of the protocol haven't been updated yet. So plugins that have to deal with the protocol directly (such as the Interact plugin, in this case), make incorrect assumption about the protocol structure, try to encode improper packets, and then the framework crashes.

[2016-05-08 11:03] ElPresidentePro commented on #222
this takes time without moving

[2016-05-08 11:04] ElPresidentePro commented on #222
how's it going?

[2016-05-08 11:04] acutesoftware commented on #222
This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a temporary error. The following address(es) deferred:

  djmurray@gmail.com
    Domain acutesoftware.com.au has exceeded the max emails per hour (1/1 (100%)) allowed.  Message will be reattempted later

------- This is a copy of the message, i

[2016-05-30 02:57] ElPresidentePro commented on #222
How goes all the guys project?

[2016-06-01 02:39] ElPresidentePro commented on #222
sound good :+1:

[2016-06-16 20:53] louwers commented on #222
http://wiki.vg/Protocol_History#1.10 :innocent:

[2016-07-24 23:33] BILLPC2684 opened #223 "ImportError: cannot import name 'Client'"
[code]

[2016-07-24 23:37] Gjum commented on #223
How did you install SpockBot?

Try `pip install spockbot`

[2016-07-25 00:18] BILLPC2684 commented on #223
already did
same error

[2016-07-25 00:24] BILLPC2684 commented on #223
wait i just ran that in linux and it works... idk how

[2016-07-25 00:28] #223 closed, assigned to nobody

[2016-10-28 11:12] ghost opened #224 "Mac os installing error"
I installing:
sudo python setup.py install
But I have errors:

[code]

[2017-01-26 15:31] wgaylord opened #225 "Work for 1.11?"
I have been messing around with the 1.9 branch.

And it sort of works for 1.11.

I know its not the targeted version but its nice that it almost works.

[2017-01-26 15:32] rom1504 commented on #225
I can't see how it could work without updating the protocol.

[2017-01-26 15:44] wgaylord commented on #225
I change the protocol version number and it connects with only like 4 packets failing to decode.

So far Chunk Data, Entity Teleport, Entity Equipment and, Spawn Object. Are the only chunks that fail to deocde. (It then crashes because of a remote host disconnected)

[2017-01-31 12:08] Redfoxbox opened #226 "IndexError: cannot fit 'int' into an index-sized integer"
I got these error when i try to start example.py, it will connect and event will run but few sec later got error end killed.

Traceback (most recent call last):
  File "example.py", line 58, in <module>
    client.start(SERVER, 25565)
  File "C:\Users\Redfox\AppData\Local\Programs\Python\Python36-32\lib\site-packages\spockbot-0.2.0-py3.6.egg\spockbot\plugins\helpers\start.py", line 34, in start

[2017-01-31 12:36] rom1504 commented on #226
are you connecting on a 1.8 server ?

[2017-01-31 12:40] Redfoxbox commented on #226
Yes i am, i use "Spigot 1.8.8" server.

[2017-01-31 12:45] rom1504 commented on #226
Oh actually it looks like master is at 1.9, weird https://github.com/SpockBotMC/SpockBot/commits/master
@Gjum ?

[2017-02-06 04:47] nickelpro commented on #226
Looks like 1.9 chunks decoding got merged into master without the rest of the protocol. Either protocol was supposed to be merged in or chunk decoding wasn't lol

SpockBot hasn't been maintained in months though to do @gamingrobot having a real job and me being deployed. Recommend https://github.com/PrismarineJS/mineflayer for all your MC botting needs

[2017-02-06 09:23] Redfoxbox commented on #226
Thanks

[2017-02-20 07:32] yunfan commented on #188
@nickelpro i agree with you, last year i spend weeks to use this, but finally i still cant control the walking extractly, also some servers use a  nether portal like structure to let player changing actually playing server. and i found that was not supported yet[at the time i tried it]

[2017-02-23 03:37] nickelpro commented on #188
@yunfan
This project has been semi-abandoned for months now, and we never supported loads of stuff because I'm really quite a bad programmer.

[2017-02-24 04:47] yunfan commented on #188
@nickelpro dont blame yourself, you were better than me. and from my view, the only bad point is that the document was not that complete. but i think we could solved this and the issue.

[2017-06-01 13:11] ali6836 opened #227 "Updating Spockbot?"
Is this still under development, and will it ever actually become working on 1.9/1.10/1.11?

[2017-06-01 13:17] Gjum commented on #227
I might pick it up again and update it to 1.10 in the next few weeks because I have a use for it again.

In the mean time, you can also look into https://github.com/PrismarineJS/mineflayer/

[2017-06-01 18:59] ali6836 commented on #227
@Gjum I have seen mineflayer, but it is just not as well thought out as Spockbot and the bots that people have made with it aren't as good as the one that people have made with Spockbot. Also, will you just update to 1.10, or will you go all the way to 1.11?

[2017-06-01 19:04] Gjum commented on #227
The difference between 1.10 and 1.11 is minimal in terms of the protocol, so if I get it to 1.10 it'll be easy to also make it work in 1.11. My personal use case is for 1.10 though, so I will focus on that primarily. If possible I will keep 1.11 in mind too of course.

[2017-06-15 20:54] AlexLamprianidis commented on #210
I am getting a very similiar error

[code]
I am running it on rasbian btw

[2017-06-15 21:07] Gjum commented on #227
Nope, I went a different path, so don't expect any updating from my side. Sorry!

If you still want to use this with 1.10/1.11/1.12 you'd need to put in the work of updating it yourself, but if during that you have any questions about the inner workings of SpockBot, feel free to contact me.

[2017-06-22 21:45] nickelpro commented on #227
Submarines are not a conducive environment to coding projects. So I'm out. I'm a huge fan of giving push privileged to literally everyone though

[2017-07-03 05:44] yunfan commented on #227
why not use a seperated protocol layer? like pyCraft, i saw it has support to 1.12, but it only focus on protocol level

[2017-08-09 22:12] ghostAttackerIsTaken opened #228 "for what minecraft version is the latest release?"

[2017-08-09 22:13] ghostAttackerIsTaken commented on #228
oh nevermind sorry tell me rftm i really should have.

[2017-08-09 22:13] #228 closed, assigned to nobody

[2017-08-09 22:31] ghostAttackerIsTaken opened #229 "error when running the example bot with minimal modification"
hi, i want to say that i'm a complete newbie in spockbot and i was trying to learn, i thought i'll start by running the example bot, and then modifying it for what i want and need instead of starting writing from scratch because i'm a complete newbie, and then i got this error message right after i recieved the player has joined the game message:

`[DEBUG]: EVENTCORE: Exception while emitting PLAY

[2018-06-30 04:13] CoderReece commented on #227
I just wanted to comment on a possible work around for using Spockbot with newer servers would be to use Bungeecord with viabackwards, viaversion and viarewind.

Probably not the best solution for the problem but it's a good solution if you don't want to use malmo or mineflayer.

[2018-07-10 01:51] nickelpro commented on #227
@yunfan Our protocol was mostly separate from implementation stuff. There is a certain amount of coupling you can't get around (if a packet that you relied on for say, movement, is completely removed you have to use the new packet that replaced it).

Spock is gone for two reasons that aren't related to implementation. 1) Lack of developer time but mostly 2) Better alternatives are around now.

[2018-07-11 01:40] yunfan commented on #227
@nickelpro by alternatives, are you meaning those non-python solutions?

[2018-07-11 22:06] nickelpro commented on #227
@yunfan Yes. Python has never been a popular choice for MC hacking since Java and now C# are so favored by the community. Projects in those languages as well as mineflayer are way ahead of anything Spockbot did.

But as a said last year, if you make a pull request and the code builds (we need some standards) I'm happy to give anyone push privileges.

[2019-04-08 17:42] arthuro555 commented on #229
I can't even start it

[code]

[2019-04-08 18:07] Gjum commented on #229
Seems like `async` is now a reserved keyword. You're gonna have to rename the whole `async` module to something else I guess.

[2019-04-08 18:31] arthuro555 commented on #229
Ok. Oh, just noticed It's the wrong repo sorry.

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Gjum <notifications@github.com>
Sent: Monday, April 8, 2019 8:07:03 PM
To: SpockBotMC/SpockBot
Cc: arthuro555; Comment
Subject: Re: [SpockBotMC/SpockBot] error when running the example bot with minimal modification (#229)

Seems like async is now a reserv

[2019-04-08 18:53] arthuro555 commented on #229
I did It but now, It connects and after a few seconds on the server it turns crazy and prints that:
https://pastebin.com/7s7HN3ee
The server behaves as intended.

[2019-04-12 21:17] nickelpro commented on #229
Map format changed, our map module doesn't know how to decode it and chokes. Everything then breaks.

[2019-04-12 21:18] nickelpro commented on #229
Map format changed, our ancient map module doesn't know how to decode it and chokes. Everything then breaks.

[2019-07-04 23:15] lucasfcnunes opened #230 "convert KeyError: 'blocks'"
I tried to run the example.py but it doesn't work (running in a pipenv):

Traceback (most recent call last):
  File "D:\Users\lucas\Desktop\CODING\py\minecraft\SpockBot\examples\basic\example.py", line 18, in <module>
    from example_plugin import ExamplePlugin
  File "D:\Users\lucas\Desktop\CODING\py\minecraft\SpockBot\examples\basic\example_plugin.py", line 17, in <module>
    from spockbot.mcd

[2019-07-05 00:07] Gjum commented on #230
This project never got updated, so it won't work with the latest Minecraft version. See also #227

[2019-07-05 00:07] #230 closed, assigned to nobody

[2019-11-20 17:54] solsahar commented on #230
So I am trying to run the bot on Minecraft 1.8.9 and am still getting the error... Am I supposed to use an earlier version?

[2019-11-21 02:49] nickelpro commented on #230
minecraft-data on PyPi is over three years old, I have no idea how it used to work or what was supported for what version back then. I'm starting to ramp back up activity in the MC community again so perhaps I should rev the minecraft-data release, but I removed the API that spockbot uses awhile back so that still won't fix this bug

[2019-11-21 03:44] solsahar commented on #230
Ok... I'm sad to hear ;(

Thanks for responding!

[2019-11-28 07:24] RedNicStone commented on #226
I have the same error on my device,
normal 1.8 bukkit server, but with support for 1.9 to 1.13.
Mineflayer dosen't work for me (becouse of [this](https://github.com/PrismarineJS/mineflayer/issues/873) issue, and i need an highly programmable bot (SpockBotMC fits my needs perfectly).
I'm not that familiar with the MC packages, but i will try my best to help and fix it.
Is [this](https://wiki.vg/ind

[2020-01-14 20:35] RedNicStone opened #231 "Protocol error in smpmap (IndexError: list index out of range)"
Hello,
I'm quite new to SpockBot (worked with CraftProtocol before) and experiencing an Issue.

I've first tried to start SpockBot in Python version 3.6 and got the following error:
[code]

**Here is the full log:**

[process.log](https://github.com/SpockBotMC/SpockBot/files/4061258/process.log)

After that I tried starting it with Python 3.7, and after fixing [this](https://github.com/SpockBotMC/

[2020-01-18 01:55] nickelpro commented on #231
The smpmap.py decoder is known to be broken, even for the version we claim to support. SpockBot has been abandoned for a looooong time. I'm currently working on a rewrite but for right now you're better off working with Mineflayer.

[2020-01-18 10:39] RedNicStone commented on #231
Oh, I didn't knew it was abandoned.
I would really like to help, but my Minecraft protocol skills are mediocre and the code is almost unreadable to me at some passages.
I'm going to try out Mineflayer as you said, but since I am totally new to JavaScript, this is gonna take a while.

Thanks for the help!

[2020-01-18 10:57] #231 closed, assigned to nobody

[2020-03-18 19:36] lvl100abra opened #232 "Unable to connect to servers with hostnames"
When attempting to connect to a server with a host name, I get the following error:
[code]

It seems like a DNS issue, but I am able to connect with my normal minecraft client with no issues so I'm not sure what is wrong.

[2020-04-19 15:21] SpikeThatMike opened #233 "Problem with python3 setup.py install"
When i try to do python3 setup.py install in the cmd, i get a error and i dont know how to fix this

running install
error: can't create or remove files in install directory

The following error occurred while trying to add or remove files in the
installation directory:

    [Errno 13] Permission denied: 'C:\\Program Files\\WindowsApps\\PythonSoftwareFoundation.Python.3.8_3.8.752.0_x64__qbz5n2kfra

[2020-04-19 15:29] Gjum commented on #233
try either: `python3 setup.py install --user` or use a virtualenv, or try running the command as admin

[2020-04-19 15:29] #233 closed, assigned to nobody

[2020-04-19 17:03] SpikeThatMike commented on #233
Ive done this using that command line, but when i run the example it still says no module named spockbot

[2020-08-11 16:03] Skelmis commented on #229
Will this be issue be fixed for future releases at any point?

[2020-08-11 16:04] arthuro555 commented on #229
Last commit being from 2016 I can say pretty confidently this project is 100% abandonned.

[2020-08-11 16:10] Skelmis commented on #229
Fair enough, time to fork & fix I guess provided I can get it working

[2020-08-11 16:12] arthuro555 commented on #229
I guess you are more a python person if you checked this out first, but I'd recommend using this Node library: https://github.com/PrismarineJS/mineflayer

[2020-08-11 16:18] Skelmis commented on #229
I have looked into numerous libraries for this, and mineflayer was the first one haha. But unfortunately, I am looking for something in python and my current one I am using is coming into issues with scaling & the async nature is called under. Plus it only handles the very basics. But thanks anyway
https://github.com/ammaraskar/pyCraft

[2020-08-11 17:32] nickelpro commented on #229
If you're comfortable with compiling C++ I have a new framework that handles all packets and I'm actively developing:
https://github.com/SpockBotMC/RikerBot

[2020-08-11 19:42] Gjum commented on #229
@Skelmis if you're fixed on python you may want to check out Quarry too: https://github.com/barneygale/quarry/

[2021-02-14 08:58] LastedApple3 opened #234 "Bedrock Compatible?"
I intend to use this, but I am only capable of using Bedrock servers, and I have no access to any of these to write test programs. I wish to know whether this works with Bedrock servers, and if it isn't then I would like to request that a future modification makes it so it is.

[2021-02-14 09:10] nickelpro commented on #234
SpockBot hasn't been maintained in many years, and unfortunately it was never Bedrock compatible, sorry :(

[2021-03-22 10:05] #234 closed, assigned to nobody

[2021-11-04 10:49] mrnickzh opened #235 "invalid syntax"
yield inv.async.click_slot(ingr_slot)
              ^
SyntaxError: invalid syntax

Im litteraly dont know how to avoid it

[2021-11-04 11:18] Gjum commented on #235
This project was made before Python adopted `async/await` and the corresponding keywords; some ways around this include using an older Python version without the `async` keyword or renaming the module to some other word that's not reserved.

[2021-11-07 16:15] mrnickzh opened #236 "Idk why this error occured"
[code]

litteraly didnt know why

[2021-11-07 16:27] mrnickzh commented on #235
thanks, i fix it, but have another problem

[2021-11-07 16:37] Gjum commented on #236
wild guess but are you using one of these new microsoft xbox type accounts? only mojang accounts work

for any better guess I'd need more info than that

[2021-11-07 16:40] mrnickzh commented on #236
no, no, i didnt have an minecraft account and this server allows you to connect without liciense

[2021-11-07 22:37] #235 closed, assigned to nobody